<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ajaxpro>
            <main>
                <cart>1</cart>
                <cartHandle>ajaxpro_popup_suggestpage_view</cartHandle>
                <product>1</product>
                <validation>0</validation>
            </main>
        </ajaxpro>
    </default>
</config>