<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Swissup\SeoUrls\Model\Url\Filter">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="layerResolver" xsi:type="object">Magento\Catalog\Model\Layer\Resolver</item>
                <item name="seoUrl" xsi:type="object">Swissup\SeoCore\Model\Url</item>
                <item name="seoHelper" xsi:type="object">Swissup\SeoUrls\Helper\Filter</item>
            </argument>
        </arguments>
    </type>
    <type name="Swissup\SeoUrls\Model\Url\Search">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="seoHelper" xsi:type="object">Swissup\SeoUrls\Helper\Data</item>
            </argument>
        </arguments>
    </type>
    <!-- declare virtual types -->
    <virtualType name="swissupSeoUrlsTemplateContext" type="Magento\Framework\View\Element\Template\Context">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Swissup\SeoUrls\Model\Url\Filter</argument>
        </arguments>
    </virtualType>
    <virtualType name="swissupSeoUrlsHelperContext" type="Magento\Framework\App\Helper\Context">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Swissup\SeoUrls\Model\Url\Search</argument>
        </arguments>
    </virtualType>
    <!-- override url builder for regular filter -->
    <type name="Magento\Catalog\Model\Layer\Filter\Item">
        <arguments>
            <argument name="url" xsi:type="object">Swissup\SeoUrls\Model\Url\Filter</argument>
        </arguments>
    </type>
    <!-- override url builder for swatches -->
    <type name="Magento\Swatches\Block\LayeredNavigation\RenderLayered">
        <arguments>
            <argument name="context" xsi:type="object">swissupSeoUrlsTemplateContext</argument>
        </arguments>
    </type>
    <!-- override url builder for product list toolbar -->
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <arguments>
            <argument name="context" xsi:type="object">swissupSeoUrlsTemplateContext</argument>
        </arguments>
    </type>
    <!-- override url builder for product list pager -->
    <type name="Magento\Theme\Block\Html\Pager">
        <arguments>
            <argument name="context" xsi:type="object">swissupSeoUrlsTemplateContext</argument>
        </arguments>
    </type>
    <!-- override url builder for magento search helper -->
    <type name="Magento\Search\Helper\Data">
        <arguments>
            <argument name="context" xsi:type="object">swissupSeoUrlsHelperContext</argument>
        </arguments>
    </type>
    <!-- SWISSUP AJAX LAYERED NAVIGATION inegration -->
    <!-- override url builder for swatches in Swissup ALN -->
    <type name="Swissup\Ajaxlayerednavigation\Block\Navigation\RenderLayered">
        <arguments>
            <argument name="context" xsi:type="object">swissupSeoUrlsTemplateContext</argument>
        </arguments>
    </type>
    <!-- override url builder in helper/config to get proper clear all url in Swissup ALN -->
    <type name="Swissup\Ajaxlayerednavigation\Helper\Config">
        <arguments>
            <argument name="context" xsi:type="object">swissupSeoUrlsHelperContext</argument>
        </arguments>
    </type>
    <!-- SWISSUP SEO PAGER integration -->
    <virtualType name="swissupSeoUrlsPagerHelperContext" type="Magento\Framework\App\Helper\Context">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Swissup\SeoUrls\Model\Url\Filter</argument>
        </arguments>
    </virtualType>
    <type name="Swissup\SeoPager\Helper\Data">
        <arguments>
            <argument name="context" xsi:type="object">swissupSeoUrlsPagerHelperContext</argument>
        </arguments>
    </type>
    <!-- add router -->
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="seo_urls_search" xsi:type="array">
                    <item name="class" xsi:type="string">Swissup\SeoUrls\Controller\RouterSearch</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">30</item>
                </item>
                <item name="seo_urls_layer" xsi:type="array">
                    <item name="class" xsi:type="string">Swissup\SeoUrls\Controller\RouterLayer</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">44</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- add plugin redirect to homapage with 301 code (Moved Permanently) -->
    <type name="Magento\Cms\Controller\Router">
        <plugin name="redirectCmsToHomepage"
                type="Swissup\SeoUrls\Plugin\RedirectCmsToHomepage"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>
