<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Events config
 *
 * @category UAE
 * @package UAE_QuoteCustom
 * @copyright Copyright (c) 2018 ClassyLlama
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="email_order_set_template_vars_before">
        <observer name="uae_quote_custom_observer_email_order" instance="UAE\QuoteCustom\Observer\EmailOrder" />
    </event>
    <event name="customer_register_success">
        <observer name="uae_quote_customer_register_success" instance="UAE\QuoteCustom\Observer\ApplyQuote" />
    </event>
    <event name="sales_order_place_after">
        <observer name="uae_quote_customer_order_place_after" instance="UAE\QuoteCustom\Observer\OrderPlaceAfter" />
    </event>
    <event name="checkout_submit_before">
        <observer name="uae_quote_checkout_submit_before" instance="UAE\QuoteCustom\Observer\CheckoutSubmitBefore" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="uae_quote_apply_tier_prices" instance="UAE\QuoteCustom\Observer\ApplyTierPrices" />
    </event>
</config>
