<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Swissup_Core::swissup">
                    <resource id="Swissup_Attributepages::attributepages" title="Attribute Pages" sortOrder="50" >
                        <resource id="Swissup_Attributepages::attributepages_page" title="Manage Pages" sortOrder="10">
                            <resource id="Swissup_Attributepages::page_save" title="Save" sortOrder="10" />
                            <resource id="Swissup_Attributepages::page_delete" title="Delete" sortOrder="20" />
                        </resource>
                        <resource id="Swissup_Attributepages::attributepages_option" title="Manage Options" sortOrder="20">
                            <resource id="Swissup_Attributepages::option_save" title="Save" sortOrder="10" />
                            <resource id="Swissup_Attributepages::option_delete" title="Delete" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
