<?xml version="1.0"?>
<!--
/**
 * UAE modify
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="UAE_NewsLetter" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Newsletter" />
        </sequence>
    </module>
</config>
