<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Search\Model\Autocomplete">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="10" xsi:type="object">Swissup\Ajaxsearch\Model\Catalog\Product\DataProvider</item>
                <item name="20" xsi:type="object">Swissup\Ajaxsearch\Model\Catalog\Category\DataProvider</item>
                <item name="30" xsi:type="object">Swissup\Ajaxsearch\Model\Cms\Page\DataProvider</item>
                <item name="40" xsi:type="object">Swissup\Ajaxsearch\Model\Autocomplete\DataProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Swissup\Ajaxsearch\Model\ResourceModel\Fulltext\SearchCollection" type="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">swissup_quick_search_container</argument>
        </arguments>
    </virtualType>

    <virtualType name="Swissup\Ajaxsearch\Model\ResourceModel\Fulltext\SearchCollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Swissup\Ajaxsearch\Model\ResourceModel\Fulltext\SearchCollection</argument>
        </arguments>
    </virtualType>

    <virtualType name="Swissup\Ajaxsearch\Model\Layer\Search\ItemCollectionProvider" type="Magento\Catalog\Model\Layer\Search\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Swissup\Ajaxsearch\Model\ResourceModel\Fulltext\SearchCollectionFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="Swissup\Ajaxsearch\Model\Layer\Search\Context" type="Magento\Catalog\Model\Layer\Search\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">Swissup\Ajaxsearch\Model\Layer\Search\ItemCollectionProvider</argument>
            <argument name="stateKey" xsi:type="object">Magento\CatalogSearch\Model\Layer\Search\StateKey</argument>
        </arguments>
    </virtualType>

    <type name="Swissup\Ajaxsearch\Model\Layer\Search">
        <arguments>
            <argument name="context" xsi:type="object">Swissup\Ajaxsearch\Model\Layer\Search\Context</argument>
        </arguments>
    </type>
</config>
