<script data-role="img-dialog-tmpl" type="text/x-magento-template">
    <div class="image-panel-preview">
        <img src="<%- data.url %>" alt="<%- data.label %>" />
    </div>
    <div class="image-panel-controls">
        <strong class="image-name"><%- data.label %></strong>

        <fieldset class="admin__fieldset fieldset-image-panel">
            <div class="admin__field field-image-description">
                <label class="admin__field-label" for="image-description">
                    <span>Alt Text</span>
                </label>

                <div class="admin__field-control">
                    <textarea data-role="image-description"
                              rows="3"
                              class="admin__control-textarea"
                              name="gallery[images][<%- data.file_id %>][label]"><%- data.label %></textarea>
                </div>
            </div>

            <div class="admin__field admin__field-inline field-image-size" data-role="size">
                <label class="admin__field-label">
                    <span>Image Size</span>
                </label>
                <div class="admin__field-value" data-message="{size}"></div>
            </div>

            <div class="admin__field admin__field-inline field-image-resolution" data-role="resolution">
                <label class="admin__field-label">
                    <span>Image Resolution</span>
                </label>
                <div class="admin__field-value" data-message="{width}^{height} px"></div>
            </div>

            <div class="admin__field field-image-hide">
                <div class="admin__field-control">
                    <div class="admin__field admin__field-option">
                        <input type="checkbox"
                               id="hide-from-product-page"
                               data-role="visibility-trigger"
                               data-form-part="widget_options_form"
                               value="1"
                               class="admin__control-checkbox"
                               name="gallery[images][<%- data.file_id %>][disabled]"
                        <% if (data.disabled == 1) { %>checked="checked"<% } %> />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</script>
