<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seohtmlsitemap>
            <general>
                <enabled>1</enabled>
                <page_title>Site Map</page_title>
                <meta_description>Site Map</meta_description>
                <meta_keywords>sitemap</meta_keywords>
            </general>
            <content_settings>
                <show_stores>0</show_stores>
                <show_categories>1</show_categories>
                <max_categories_depth>0</max_categories_depth>
                <show_products>1</show_products>
                <show_out_of_stock>1</show_out_of_stock>
                <sort_by>name</sort_by>
                <columns_number>3</columns_number>
                <group_by_first_letter>0</group_by_first_letter>
                <show_cms>1</show_cms>
                <exclude_cms>no-route,home</exclude_cms>
                <show_custom_links>1</show_custom_links>
            </content_settings>
        </seohtmlsitemap>
    </default>
</config>
