<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swissup_seopager" translate="label" type="text" sortOrder="1604" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Pagination</label>
            <tab>swissup_seocore</tab>
            <resource>Swissup_SeoPager::seopager_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable SEO enhancements</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_view_all" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show view-all link</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>catalog/frontend/list_allow_all</config_path>
                </field>
                <field id="strategy" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Strategy of paginated content presentation for search engines</label>
                    <source_model>Swissup\SeoPager\Model\Config\Source\Strategy</source_model>
                    <depends>
                        <field id="show_view_all">1</field>
                    </depends>
                </field>
                <field id="strategy_no_view_all" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Strategy of paginated content presentation for search engines</label>
                    <source_model>Swissup\SeoPager\Model\Config\Source\StrategyNoViewAll</source_model>
                    <depends>
                        <field id="show_view_all">0</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
