<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swissup_argento_flat" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Argento Flat</label>
            <tab>theme_editor</tab>
            <resource>Swissup_ThemeEditorArgentoFlat::config</resource>

            <include path="Swissup_ThemeEditorArgentoFlat::system/layout.xml"/>
            <include path="Swissup_ThemeEditorArgentoFlat::system/header.xml"/>
            <include path="Swissup_ThemeEditorArgentoFlat::system/footer.xml"/>
            <include path="Swissup_ThemeEditorArgentoFlat::system/tabs.xml"/>
            <include path="Swissup_ThemeEditorArgentoFlat::system/buttons.xml"/>
            <include path="Swissup_ThemeEditorArgentoFlat::system/fonts.xml"/>
            <include path="Swissup_ThemeEditorArgentoFlat::system/head.xml"/>
        </section>
    </system>
</config>
