<?xml version="1.0" ?>
<!--
/**
 * @copyright   Copyright (c) 2018 Classy Llama Studios, LLC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="uae" translate="label" sortOrder="10">
            <label>UAE</label>
        </tab>
        <section id="uae_checkout" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Checkout</label>
            <tab>uae</tab>
            <resource>UAE_AdvancedCheckout::config</resource>
            <group id="product_messages" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Product Messages</label>
                <field id="free_shipping" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Free Shipping Message</label>
                </field>
                <field id="ships_from_manufacturer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Ships From Manufacturer Message</label>
                </field>
                <field id="delivery_time" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>Delivery Time Message</label>
                </field>
                <field id="qualifying_items" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="textarea">
                    <label>Qualifying Items Message</label>
                    <comment>You can insert HTML here.</comment>
                </field>
            </group>
            <group id="cart_rules" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Cart Rules</label>
                <field id="qualifying_items" type="select" showInDefault="1" showInWebsite="1" sortOrder="20" translate="label">
                    <label>"Qualifying Items" cart rule</label>
                    <source_model>UAE\AdvancedCheckout\Model\System\Config\Source\CartRules</source_model>
                </field>
                <field id="show_message_threshold" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Message Threshold</label>
                    <comment>Percentage of price to start showing Qualifying Items Message (e.g. 80 equals 80%)</comment>
                </field>
            </group>
        </section>
        <section id="sales">
            <group id="totals_sort">
                <field id="qualifying_items_message" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Qualifying Items Message</label>
                </field>
            </group>
        </section>
    </system>
</config>
