<?xml version="1.0"?>
<!--
/**
 * Global di config
 *
 * @category ClassyLlama
 * @package ClassyLlama_OrderComments
 * @copyright Copyright (c) 2018 ClassyLlama
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="ClassyllamaOrderCommentsShippingInformationManagement"
                type="ClassyLlama\OrderComments\Plugin\Model\ShippingInformationManagement"/>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="ClassyllamaOrderCommentsVisibleStatusHistory"
                type="ClassyLlama\OrderComments\Plugin\Model\OrderHistory"/>
    </type>
</config>