<?xml version="1.0" ?>
<!--
/**
 * Module config
 *
 * @category ClassyLlama
 * @package ClassyLlama_OrderComments
 * @copyright Copyright (c) 2018 ClassyLlama
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="ClassyLlama_OrderComments" setup_version="1.0.0" >
			<sequence>
				<module name="Magento_Checkout" />
				<module name="ClassyLlama_Quote" />
			</sequence>
	</module>
</config>
