<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
         <add id="Swissup_Easybanner::easybanner"
            title="EasyBanner"
            module="Swissup_Easybanner"
            sortOrder="570"
            parent="Swissup_Core::swissup"
            resource="Swissup_Easybanner::easybanner" />
        <add id="Swissup_Easybanner::easybanner_banner"
            title="Manage Banners"
            module="Swissup_Easybanner"
            sortOrder="10"
            parent="Swissup_Easybanner::easybanner"
            action="easybanner/banner"
            resource="Swissup_Easybanner::easybanner_banner"/>
        <add id="Swissup_Easybanner::easybanner_placeholder"
            title="Manage Placeholders"
            module="Swissup_Easybanner"
            sortOrder="20"
            parent="Swissup_Easybanner::easybanner"
            action="easybanner/placeholder"
            resource="Swissup_Easybanner::easybanner_placeholder"/>
    </menu>
</config>
