<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fblike>
            <general>
                <locale>en_US</locale>
            </general>
            <product>
                <enabled>0</enabled>
                <action>like</action>
                <colorscheme>light</colorscheme>
                <layout>button_count</layout>
                <share>1</share>
                <show_faces>0</show_faces>
            </product>
            <category>
                <enabled>0</enabled>
                <action>like</action>
                <colorscheme>light</colorscheme>
                <layout>button_count</layout>
                <share>1</share>
                <show_faces>0</show_faces>
            </category>
        </fblike>
        <subscriptionchecker>
            <ignore>
                <fblike/>
            </ignore>
        </subscriptionchecker>
    </default>
</config>
