<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright (c) 2018 Classy Llama Studios, LLC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="UAE_GroupedProduct" setup_version="0.1.1">
        <sequence>
            <module name="Magento_GroupedProduct" />
        </sequence>
    </module>
</config>
