<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="ajaxpro-reinit" xsi:type="string">Swissup\Ajaxpro\CustomerData\Init</item>
                <item name="ajaxpro-cart" xsi:type="string">Swissup\Ajaxpro\CustomerData\Cart</item>
                <item name="ajaxpro-product" xsi:type="string">Swissup\Ajaxpro\CustomerData\Product</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Layout\BuilderFactory">
        <arguments>
            <argument name="typeMap" xsi:type="array">
                <item name="page" xsi:type="array">
                    <item name="type" xsi:type="const">Magento\Framework\View\Layout\BuilderFactory::TYPE_PAGE</item>
                    <item name="class" xsi:type="string">Swissup\Ajaxpro\Model\View\Layout\Builder</item>
                </item>
                <item name="layout" xsi:type="array">
                    <item name="type" xsi:type="const">Magento\Framework\View\Layout\BuilderFactory::TYPE_LAYOUT</item>
                    <item name="class" xsi:type="string">Magento\Backend\Model\View\Layout\Builder</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Action\Action">
        <plugin name="pluginAfterActionExecute" type="Swissup\Ajaxpro\Plugin\Controller\AfterActionExecutePlugin" sortOrder="1000" />
    </type>

</config>