<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Swissup_Core::swissup">
                    <resource id="Swissup_Core::general">
                        <resource id="Swissup_Reviewreminder::reviewreminder" title="Review Reminder" sortOrder="1821">
                            <resource id="Swissup_Reviewreminder::save" title="Save" sortOrder="10" />
                            <resource id="Swissup_Reviewreminder::status" title="Change Status" sortOrder="20" />
                            <resource id="Swissup_Reviewreminder::send" title="Send" sortOrder="30" />
                            <resource id="Swissup_Reviewreminder::delete" title="Delete" sortOrder="40" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Swissup_Core::swissup_config">
                                <resource id="Swissup_Reviewreminder::config_reviewreminder" title="Review Reminder" sortOrder="1821"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
