<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Module config
 *
 * @category UAE
 * @package UAE_GiftcardFieldUpdate
 * @copyright Copyright (c) 2018 ClassyLlama
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="UAE_GiftcardFieldUpdate" setup_version="1.0.0">
        <sequence>
            <module name="Aheadworks_Giftcard" />
        </sequence>
    </module>
</config>
