<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright (c) 2018 Classy Llama Studios, LLC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GroupedProduct\Model\Product\Type\Grouped">
        <plugin name="addColorToCollection" type="UAE\GroupedProduct\Plugin\Model\Product\Type\Grouped\ExtendProductAttributesList" sortOrder="10" disabled="false" />
    </type>
</config>
