<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <richsnippets>
            <general>
                <enabled>0</enabled>
                <product_format>json-ld</product_format>
                <minify>1</minify>
            </general>
            <breadcrumbs>
                <enabled>0</enabled>
            </breadcrumbs>
        </richsnippets>
    </default>
</config>
