<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Di config
 *
 * @category ClassyLlama
 * @package ClassyLlama_QuoteCustom
 * @copyright Copyright (c) 2018 ClassyLlama
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="ClassyllamaQuoteCustomShippingInformationManagement"
                type="ClassyLlama\QuoteCustom\Plugin\Model\ShippingInformationManagement"/>
    </type>
</config>