<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Module config
 *
 * @category ClassyLlama
 * @package ClassyLlama_QuoteCustom
 * @copyright Copyright (c) 2018 ClassyLlama
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ClassyLlama_QuoteCustom" setup_version="1.0.0">
        <sequence>
            <module name="ClassyLlama_Quot" />
            <module name="ShipperHQ_Shipper" />
        </sequence>
    </module>
</config>
