<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Swissup_Core::swissup">
                    <resource id="Swissup_Easybanner::easybanner" title="EasyBanner" sortOrder="50" >
                        <resource id="Swissup_Easybanner::easybanner_banner" title="Manage Banners" sortOrder="0">
                            <resource id="Swissup_Easybanner::banner_save" title="Save" sortOrder="10" />
                            <resource id="Swissup_Easybanner::banner_delete" title="Delete" sortOrder="20" />
                        </resource>
                        <resource id="Swissup_Easybanner::easybanner_placeholder" title="Manage Placeholders" sortOrder="0">
                            <resource id="Swissup_Easybanner::placeholder_save" title="Save" sortOrder="10" />
                            <resource id="Swissup_Easybanner::placeholder_delete" title="Delete" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
