<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <askit>
            <general>
                <defaultQuestionStatus>1</defaultQuestionStatus>
                <defaultAnswerStatus>1</defaultAnswerStatus>
                <allowedGuestQuestion>1</allowedGuestQuestion>
                <allowedCustomerAnswer>1</allowedCustomerAnswer>
                <allowedGuestAnswer>0</allowedGuestAnswer>
                <allowedHint>1</allowedHint>
                <shareCustomerName>1</shareCustomerName>
                <shareItem>1</shareItem>
                <gravatar>1</gravatar>
                <category>0</category>
                <page>0</page>
                <noquestions>1</noquestions>
            </general>
            <email>
                <enable>1</enable>
                <identity>general</identity>
                <customer_notification>askit_email_customer_notification</customer_notification>
                <!-- <admin_email>test@test.com</admin_email> -->
                <admin_notification>askit_email_admin_notification</admin_notification>
            </email>
        </askit>
        <customer>
            <captcha>
                <shown_to_logged_in_user>
                    <swissup_askit_new_question_form>1</swissup_askit_new_question_form>
                    <swissup_askit_new_answer_form>1</swissup_askit_new_answer_form>
                </shown_to_logged_in_user>
                <always_for>
                    <swissup_askit_new_question_form>1</swissup_askit_new_question_form>
                    <swissup_askit_new_answer_form>1</swissup_askit_new_answer_form>
                </always_for>
            </captcha>
        </customer>
        <captcha translate="label">
            <frontend>
                <areas>
                    <swissup_askit_new_question_form>
                        <label>Askit New Question Form</label>
                    </swissup_askit_new_question_form>
                    <swissup_askit_new_answer_form>
                        <label>Askit New Reply Form</label>
                    </swissup_askit_new_answer_form>
                </areas>
            </frontend>
        </captcha>
    </default>
</config>