<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="askit_message_after_save">
        <observer name="admin_notification" instance="Swissup\Askit\Model\Notification\Admin" />
    </event>
    <event name="askit_add_new_answer">
        <observer name="customer_notification" instance="Swissup\Askit\Model\Notification\Customer" />
    </event>
</config>
