<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swissup_argento_pure2" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Argento Pure2</label>
            <tab>theme_editor</tab>
            <resource>Swissup_ThemeEditorArgentoPure2::config</resource>

            <include path="Swissup_ThemeEditorArgentoPure2::system/layout.xml"/>
            <include path="Swissup_ThemeEditorArgentoPure2::system/header.xml"/>
            <include path="Swissup_ThemeEditorArgentoPure2::system/footer.xml"/>
            <include path="Swissup_ThemeEditorArgentoPure2::system/tabs.xml"/>
            <include path="Swissup_ThemeEditorArgentoPure2::system/buttons.xml"/>
            <include path="Swissup_ThemeEditorArgentoPure2::system/fonts.xml"/>
            <include path="Swissup_ThemeEditorArgentoPure2::system/head.xml"/>
        </section>
    </system>
</config>
