<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * @copyright   Copyright (c) 2018 Classy Llama Studios, LLC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ClassyLlama_Quote::sales_quoterequest" title="Quotes" translate="title" module="ClassyLlama_Quote" sortOrder="11" parent="Magento_Sales::sales_operation" action="sales/quoterequest" resource="Magento_Sales::sales_order"/>
    </menu>
</config>
